{% extends 'home.html' %}

{% block content %}

<div class="container">
<div class="row p-1" style="margin-top: 20px">
  {% for file in files %}
    <div class="col-3 p-2">
        <div class="card" style="width: 18rem;">
          <img src="/static/{{ file.subject.id }}.jpg" class="card-img-top" alt="..." height="120">
            <div class="card-body">
            {% block card_content %}
              <h5 class="card-title">{{ file.title }}</h5>
              <p class="card-text">ملف {{ file.title }} - {{ file.subject.title }}</p>
              <a href="{{ file.link }}" class="btn btn-primary" target="_blank">تحميل</a>
            {% endblock %}
            </div>
          </div>
    </div>
  {% endfor %}
</div>

</div>
{% endblock %}